:root{ --bg:#262626;--bg2:#000;--tc:#eee;--bd:#444;--bb:#d51a7e;--ab:#eee;--hc:#009696;}
@media (prefers-color-scheme: light) { :root{--bg:#c4c1bc;--bg2:#aba6a0;--tc:#333;--bd:#d4d4d4;--bb:#1a65d5;--hc:transparent;}}
html, body { height:100%;font-size:clamp(16px,4vw, 18px);margin:0;}
body {background:radial-gradient(var(--bg2) 15%,transparent 16%) 0 0,radial-gradient(var(--bg2) 15%,transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%,transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 15%,transparent 20%) 8px 9px,var(--bg);background-size:16px 16px;background-attachment:fixed;font-family:system-ui;color:var(--tc);display:flex}
input:focus { outline:none}
[hidden] { display:none !important }
main {width:clamp(320px, 500px, 100vw);margin:auto;padding:1rem;background:var(--bg);border-radius:1rem;box-shadow: 0 0 0 1rem var(--bd), 0 0 2rem var(--bg2);}
@media (max-width: 767px) { main { margin-top:0} }
/* general flex class */ .flex, #linklist, .linklist__item { display:flex;justify-content:space-between }
/* general hover effect */ .linklist__itemDeleteButton:hover,.linklist__itemMoveHandle:hover,#manageToggle__label:hover, #backup:hover, [for=import]:hover, #add:hover { opacity:1;filter:brightness(1.2) contrast(200%) drop-shadow(0 0 5px var(--hc)) }
#manageToggle:checked ~ #linklist .linklist__itemDeleteButton { display:inline-block; }
#manageToggle:checked ~ #newLinkArea {max-height: 24rem;}
.linklist__itemDeleteButton {border:none;background:0 0;color:var(--tc);cursor:pointer;font-size:1rem;display:none;padding:0;}
.linklist__itemMoveHandle {width:24px;height:24px;cursor:grab;background-image:radial-gradient(gray 30%, transparent 40%);background-size:3px 3px;}
.linklist__itemMoveHandle:active { cursor:grabbing }
.linklist__itemIcon {height: 22px;width:22px;object-fit:cover;user-select:none}
#linklist {padding:0;margin:0;list-style:none;flex-direction:column;row-gap:.3rem}
.linklist__item {white-space:nowrap;align-items:center;border-top:1px solid transparent;line-height:1.5rem;column-gap: .5rem;}
.linklist__item:last-child { border-bottom:none }
.linklist__itemLink {border-radius:20px 0 0 20px;color: var(--tc);text-decoration: none;display: flex;align-items: center;column-gap: .5rem;width: 100%;}
.linklist__itemLink:hover { background:linear-gradient(90deg,var(--bd) 0%,rgba(0,0,0,0) 100%) }
.linklist__item.over { border-top:1px solid var(--tc) }
.linklist__item.over * { filter:brightness(1.2) }
[draggable] { user-select:none }
[draggable] input { user-select:auto }
#newLinkArea { box-sizing:border-box;color:var(--tc);overflow:hidden;transition:max-height .2s linear;max-height:0 }
#newLinkArea input { padding: 5px;outline:0;border:none;width: 100%;box-sizing:border-box;display:block;font-size:1rem;margin-bottom: .5rem;height: 2rem }
/* buttons: manage, save, backup, import */ #add,#manageToggle__label { opacity:.9;margin:10px 0;background:var(--bb);border:none;color:var(--ab);padding:5px 15px;width:100%;height:35px;cursor:pointer;display:block;text-align:center;box-sizing:border-box;font-weight: bold; }
/* buttons: backup, import */ #backup,[for=import] {color: var(--tc);opacity: .5;border:none;cursor:pointer;font-weight: bold;}
/* button: backup */ #backup { margin-right:1px }
#iconPick { cursor:pointer;padding-left:0 !important }
#iconPick::-webkit-file-upload-button { display:none }
#iconPick::before {content: 'Choose Icon';color: black;display: inline-block;background:linear-gradient(90deg, #f9f9f9, #e3e3e3);border: 1px solid #999;border-radius: 3px;padding: 5px 8px;outline: none;white-space: nowrap;user-select: none;cursor: pointer;text-shadow: 1px 1px #fff;font-weight: bold;font-size: .7rem;margin-right: .5rem;}
#iconPick:hover::before { border-color:black; }
#iconPick:active { outline:0 }
#iconPick:active::before { background:linear-gradient(90deg,#e3e3e3,#f9f9f9) }
h2{ font-size:1rem }
/* options */ details { transition:height .2s linear;height:1.25rem;overflow:hidden }
/* options */ summary { user-select:none;cursor:pointer;margin-bottom:.5rem }
/* options */ details#options[open] { height:9em }
#drop2Edit {border:2px dashed var(--bd);border-radius:4px;margin-top:.3rem;text-align:center;font-weight:bold;color:var(--bd);font-size:1.2rem;padding: .5rem 0;line-height:1.1rem;}
#drop2Edit.over { filter: contrast(0.5) brightness(1.5); }